* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

#header {
    background: url(Images/home_bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.header-overlay {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.header-nav img {
    width: 80px;
    margin-left: 100px;
}

.header-nav ul {
    display: flex;
    gap: 40px;
    margin-right: 100px;
}

.header-nav a {
    padding-top: 20px;
    font-weight: 600;
}

.header-nav a:hover {
    border-bottom: 2px solid #e4b95b;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.header-text h1 {
    color: white;
    font-size: 40px;
}

.header-text span {
    color: #e4b95b;
}

.header-text p {
    color: white;
    margin-top: 10px;
}

.header-text button {
    margin-top: 40px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px 30px;
    cursor: pointer;
}

.header-text button:hover {
    background: #e4b95b;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f2ed;
    height: 110vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-text {
    text-align: center;

}

.about-text h2 {
    font-size: 40px;
    color: #383848;
}

.about-text p {
    font-weight: 600;
    font-size: 14px;
    color: #9a9a9a;
    margin-top: 15px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 60px;
}

.about-content p {
    margin-right: 7rem;
    line-height: 1.6;
    color: #9a9a9a;
    font-weight: 500;
}

.about-content button {
    margin-top: 40px;
    border-radius: 15px;
    padding: 15px 30px;
    background: #383848;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
}

.about-content button:hover {
    background: #e4b95b;
}

.about-content img {
    margin-right: 60px;
    width: 450px;
}

.offer {
    background: url(Images/offer-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 40px 0px;
}

.offer-text {
    text-align: center;
    padding-top: 50px;
}

.offer-text h2 {
    font-size: 40px;
    color: #e4b95b;
    margin-bottom: 20px;
}

.offer-text p {
    font-weight: 500;
    color: white;
}

.offer-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px
}

.offer-item {
    width: 30%;
    text-align: center;
}

.offer-item img {
    width: 200px;
    margin-bottom: 10px;
}

.offer-item h3 {
    color: white;
    font-size: 25px;
}

.offer-item p {
    margin: 15px 0;
    color: white;
    font-size: 14px;
    font-weight: 300;
    width: 90%;
}

.offer-item span {
    color: #e4b95b;
    font-weight: 600;
    font-size: 18px;
    margin-left: 5px;
}

#menu {
    background: #f4f2ed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.menu-text {
    text-align: center;
}

.menu-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #383848;
}

.menu-text p {
    color: #9a9a9a;
    font-weight: 500;
    margin-bottom: 50px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    width: 80%;
}

.menu-item img {
    width: 80px;
    margin-right: 20px;
    border-radius: 50%;
}

.menu-item h3 {
    color: #383848;
    border-bottom: 1px dashed #c2bdbd;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.menu-item span {
    color: #e4b95b;
}

.menu-item p {
    font-size: 16px;
    font-weight: 300;
    width: 80%;
    margin-top: 10px;
}

#menu button {
    padding: 20px 50px;
    background: #e4b95b;
    color: white;
    margin-top: 30px;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#menu button:hover {
    background: #383848;
}

.daytime {
    background: url(Images/daytime_bg.jpeg);

    color: white;
    text-align: center;
}

.daytime-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

.daytime-item h3 {
    margin: 20px 0px 10px 0px;
    font-size: 32px;
}

.daytime-item p {
    font-weight: 500;
}

#gallery {
    background: url(Images/offer-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 100px;
}

#gallery h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 120px 0 60px 0;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    gap: 15px;
}

.gallery-image img {
    width: 280px;
    height: 200px;
    border-radius: 15px;
}

#contact {
    width: 100%;
    background: #f4f2ed;
    ;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 150px 0 150px;
}

.contact-texts {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    line-height: 1.6;
}

.contact-text {
    margin-bottom: 30px;
}

.contact-text h3 {
    font-size: 28px;
    color: #383848;
    margin-bottom: 15px;
}

.contact-text p {
    color: #9a9a9a;
}

.contact-text p i {
    color: #e4b95b;
    margin-right: 5px;
}

.contact-text a i {
    color: white;
    background: #383848;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
}

.contact-text a i:hover {
    background-color: #e4b95b;
    color: #383848;
}

form {
    display: flex;
    flex-direction: column;
}

form input,
textarea {
    width: 100%;
    padding: 20px 15px;
    margin: 10px 0;
    border: none;
    background-color: #e3e2dd;
    resize: none;
}

form button {
    padding: 15px 15px;
    background: #e4b95b;
    color: white;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 60%;
}

form button:hover {
    background: #383848;
}

footer {
    background: #383848;
    text-align: center;
    color: white;
    padding: 15px 0;
    font-size: 14px;

}

@media (max-width: 600px) {
    #header{
        height: 50vh;
    }
    .header-nav {
        flex-direction: column;
    }

    .header-nav img {
        margin-bottom: 20px;
        margin-right: 80px;
    }

    .header-nav ul {
        margin-left: 100px;
    }

    .header-text h1 {
        font-size: 20px;
    }

    .header-text p {
        font-size: 16px;
    }
    #about{
        height: 50vh;
    }
    .about-content {
        flex-direction: column;
    }

    .about-content button {
        margin: 2rem 0;
    }

    #about img {
        display: none;
    }

    #offer {
        height: auto;
    }

    .offer-items {
        flex-direction: column;
    }

    .offer-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .offer-item h3 {
        font-size: 20px;
    }

    .offer-item p {
        width: 220%;
    }

    .menu-items {
        display: block;
    }

    .menu-item {
        margin: 30px 40px;
    }

    .daytime-items {
        display: block;
        height: auto;
        padding: 30px 0;
    }

    .daytime-item {
        margin-top: 30px;
    }

    .gallery-images {
        display: block;
    }

    .gallery-image {
        margin-top: 30px;
    }

    #contact {
        padding-bottom: 80px;
    }

    .contact-content {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding-left: 50px;
    }

    .contact-texts {
        width: 120%;
    }

    form {
        width: 100%;
    }

}
